html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.cursor {
    font-weight: 500;
    display: inline-block;
    animation: flicker 1.3s infinite;
}
.section1,
.section2{
    height: 80vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}



.header {
    display: flex; 
    position: relative;
    left: 60vw;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    bottom: 7%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
}

nav ul li {
    display: inline;
    transition: 0.3s ease-in-out;
}

nav ul li:hover{
    cursor: pointer;
    font-weight: bold;
    scale: 1.1;
}

nav ul li a {
    font-family: 'Poppins', 'monospace';
    color: green;
    text-decoration: none;
}

.heading101, 
.heading102 {
    font-family: "Poppins", 'monospace';
    margin-top: -5vh;
    font-weight: bold;
    font-size: 10vw;
    position: relative;
    transition: color 0.3 ease;
    margin-left: 3vw;
}

.section1{
    background-color: black;
    color: #00FF00;
    position: relative;
}

.section1 .heading102{
    padding-left: 25vw;
}

.section1 .intro{
    font-family: "Poppins", 'monospace';
    font-size: 1vw;
    font-weight: normal;
    padding-left: 2.5vw;
    color: white;
    line-height: 0.8;
    margin-top: -25vh;
}

.highlight{
    color: black;
    background-color: yellow;
    font-weight: bold;
    
}

.name{
    color: blue;
}

footer{
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: #1e293b;
    opacity: 0.5;
    font-size: 0.8vw;
    font-family: "Poppins";
    color: whitesmoke;
    text-align: center;
    bottom: 0;
    margin: 0;
    padding: 0;
    transition: opacity, font-size 0.2s ease-in;
}

.members{
    font-family: 'Pixelify Sans', 'monospace';
    font-size: 2vw;
    position: relative;
    left: 2vw;
    top: 2vh;
    color: rgb(128, 116, 217);
}

footer:hover{
    opacity: 0.9;
    font-size: 1vw;
}

.github{
    color: blueviolet;
    text-decoration: none;
}

.location{
    position: relative;
    top: 1.5vh;
    width: 50vw;
    padding-left: 22vw;
    height: auto;
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes glitch {
    0%, 100% {
        transform: translateX(0); 
    }
    5%, 95% {
        transform: translateX(5px); 
    }
    10%, 90% {
        transform: translateX(-5px);
    }
    15%, 85% {
        transform: translateX(3px); 
    }
    20%, 80% {
        transform: translateX(-3px);
    }
    25%, 75% {
        transform: translateX(2px); 
    }
    30%, 70% {
        transform: translateX(-2px);
    }
    35%, 65% {
        transform: translateX(1px); 
    }
    40%, 60% {
        transform: translateX(-1px); 
    }
}

 /* @media screen and (max-width: 768px) {
    .heading101, .heading102 {
        font-size: 80px; /* Reduce the font size for smaller screens */
  /*      margin-left: 10px;
    }
    .section1 .heading102{
        padding-left: 0;
    }
    .section1 .intro {
        display: none;
    }
    .heading101{
        margin-top: 5%;
    }
    .heading101::before,
    .heading101::after{
        display: none;
    }
    .heading101:hover::before,
    .heading101:hover::after{
        display: none;
    } 

