html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y:auto;
    scroll-behavior:smooth;

}

::-webkit-scrollbar{
    display: none;
}


.section1, .section2{
    height: 700px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: hidden;
    max-width: 100%;
    box-sizing: border-box;
}

.heading101, .heading102 {
    font-family: "Poppins";
    margin-top: -50px;
    font-weight: bold;
    font-size: 200px;
    position: relative;
    transition: color 0.3 ease;
    margin-left: 30px;

}

.heading102{
    font-size: 170px;
    left: -6%;
}

/*---------------------------------------------------------------------------------------------*/

.section1{
    background-color: black;
    color: #00FF00;
    position: relative;
}

.text-cursor{
    animation: glitch 1s infinite;
    padding-left: 1200px;
    font-size: 150px;
    font-weight: bold;
    font-family: "Poppins";
    margin: 0;
    vertical-align: top;
    position: absolute;
    margin-top: -250px;
}



.section1 .heading102{
    padding-left: 350px;
}

.section1 .intro{
    font-family: "Pixelify Sans";
    font-size: 16px;
    font-weight: normal;
    margin-left: 30px;
    color: white;
    line-height: 0.8;
    margin-top: -200px;
}

.section1{
    padding-top: 80px;
}




/*----------------------------------------------------------------------------------------------------*/


.section2 {
    background: linear-gradient(180deg, rgb(1, 227, 1) 1%, #00ff00  90%);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}


h2 {
    position: relative;
    color: white; /* Initial color */
    transition: color 0.3s ease; /* Transition for color change */
    left: 5%;
    font-size: 90px;
    font-family: "Poppins";
    margin-top: 20px;
}

.heading101::before,
.heading101::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 10px; /* Height of the underline */
    background-color: rgb(0, 255, 51); /* Color of the underline */
    transition: width 0.3s ease; /* Transition for width change */
}


.h22::before,
.h22::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 10px; /* Height of the underline */
    background-color: cyan; /* Color of the underline */
    transition: width 0.3s ease; /* Transition for width change */
}

/* Increase the width of the underline when hovering */
.h22:hover::before,
.h22:hover::after {
    width: 76%;
}

.heading101:hover::before,
.heading101:hover::after {
    width: 67%;
}



.box{
    font-family: "Anta";
    font-style: normal;
}   

.python{
    width: 1200px;
    height: 500px;
    background-color: rgb(955, 955, 255, 0.4);
    border-radius: 30px;
    display: grid;
    position: relative;
    left: 5%;
    opacity: 1;
    overflow: hidden;
    opacity: 1;
    box-shadow: 5px 15px 10px #00000035;
    backdrop-filter: blur(4px);
    overflow: visible;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 100px;
    transition: 0.3s ease;
}

.image{
    position: relative;
    left: 4%;
    padding-top: 110px;
    border-radius: 40px;
    transition: 1.2s ease;
    overflow: visible;
}

.details{
    width: 60%;
    height: 80%;
    top: 0;
    right: -100%;
    position: absolute;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
    color: white;
    font-size: 22px;

}
h3{
    font-family: "Poppins";
    font-style: "bold";
    font-size: 70px;
    color: #f5db5a;
}

.code{
    color: rgb(88, 88, 247);
}

.python:hover .details{
    right: 30%;
}

.python:hover .image{
    scale: 1.4;
    left: 90%;
}

.python:hover .start{
    opacity: 0;
}

.html-h3{
    color: rgb(255, 60, 0);
}

.css-h3{
    color: blue;
}

.js-h3{
    color: #ffd500;
}

.python:hover{
    scale: 1.08;
}

/*-------------------------------------------------------------------------------------------------------*/

.section3{
    background: linear-gradient(black 20%, rgb(0, 64, 255) 80%);
    height: 100%;
    width: 100%;
}
.content{
    font-style: normal;
    display: flex;
    flex-wrap: wrap;    
    position: relative;
}

#card1{
    flex-direction: column;
    position: relative;
    display: grid;
    width: calc(33.33% - 20px);
    height: 600px;
    margin: 10px;
    background-color: rgb(955,955,955,0.5);
    border-radius: 20px;
    border-color: blue;
    border-width: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0.8;
}

#card2{
    flex-direction: column;
    position: relative;
    display: grid;
    width: calc(33.33% - 20px);
    height: 600px;
    margin: 10px;
    background-color: rgb(955,955,955,0.5);
    border-radius: 20px;
    border-color: blue;
    border-width: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0.8;
}

#card3{
    flex-direction: column;
    position: relative;
    display: grid;
    width: 450px;
    height: 600px;
    margin: 10px;
    background-color: rgb(955,955,955,0.5);
    border-radius: 20px;
    border-color: blue;
    border-width: 20px;
    box-sizing: border-box;
    left: 550px;
    top: -101.5%;
    transition: 0.5s;
    opacity: 0.8;
}



.head3{
    color: blue;
    text-shadow: 10px 10px 40px rgb(61, 61, 252);
    font-size: 40px;
    margin-top: 120px;
    padding: 20;
    text-align: center;
}

.head3-1{
    color: rgb(255, 255, 255);
    text-shadow: 10px 100000px 10000px rgb(0, 0, 255);
    font-size: 35px;
    font-family: "Anta";
    margin-top: 10px;
    padding: 20;
}

#details{
    font-family: "Anta";
    font-size: 20px;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
.software1{
    scale: 0.5;
    position: absolute;
    justify-content: center;
    left: -3%;
    top: -250px;
    filter: drop-shadow(10px 10px 40px blue);
}

.software2{
    scale: 0.9;
    position: absolute;
    top: -140px;
    right: 110px;
    filter: drop-shadow(10px 10px 40px blue);           
}

.software3{
    scale: 1.2;
    filter: drop-shadow(10px 10px 40px blue);
    position: absolute;
    top: -120px;
    left: 130px;
    opacity: 1.2;
}

.head3-3{
    color: blue;
    text-shadow: 10px 10px 40px rgb(61, 61, 252);
    font-size: 37px;
    margin-top: 120px;
    padding: 20;
    text-align: center;
}



.dev{
    color: rgb(96, 96, 249);
    font-style: italic;
}

/*-------------------------------------------------------------------------------------------------------------*/

@keyframes glitch {
    0% {
           opacity: 1; 
    }
    30% {
        opacity: 0; 
    }
    40% {
        opacity: 1; 
        }
    }

@keyframes flicker {
    0%, 100% {
        transform: translateX(0); 
    }
    5%, 95% {
        transform: translateX(5px); 
    }
    10%, 90% {
        transform: translateX(-5px);
    }
    15%, 85% {
        transform: translateX(3px); 
    }
    20%, 80% {
        transform: translateX(-3px);
    }
    25%, 75% {
        transform: translateX(2px); 
    }
    30%, 70% {
        transform: translateX(-2px);
    }
    35%, 65% {
        transform: translateX(1px); 
    }
    40%, 60% {
        transform: translateX(-1px); 
    }
}

#typing-effect{
    white-space: pre;
    overflow: hidden;
    border-right: .15em solid #00FF00;
    animation: typing-effect 3s steps(40, end);
}

@keyframes typing {
    from {
      width: 0;
    }
  }

.navbar{
    font-family: "Poppins";
    position: fixed;
    width: 100%;
    background-color: #333;
    top: 0;
    left: 0;
    padding: 10px 20px;
    color:rgb(0, 255, 51);
    box-shadow: 0px, 4px, 6px, rgba(0,0,0,0.1);
    z-index: 1000;
    text-align: center;
    word-spacing: 100px;
    font-size: 20px;

}

.navbar a {
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.navbar a:hover {
    text-decoration: underline;
}

footer{
    position: fixed;
    width: 100%;
    height: 45px;
    background-color: #1e293b;
    opacity: 0.5;
    font-size: 14px;
    font-family: "Poppins";
    color: whitesmoke;
    text-align: center;
    bottom: 0;
    margin: 0;
    padding: 0;
    transition: opacity, font-size 0.2s ease-in;
}

footer:hover{
    opacity: 0.9;
    font-size: 16px;
}

